<!DOCTYPE html>
<html>
<head>

</head>
<body style="background-color: black;"></body>
   {% block content %}

   <h2 style="color:white;text-align:center;"> Sign Up </h2>
   <a href="/">Home</a>
   <form action = "/signup" method = "post">
         <p><input type = "text" name = "username" placeholder ="username "/></p>
         <p><input type = "text" name = "password" placeholder ="password"/></p>
         <p><input type = "text" name = "firstName" placeholder ="firstname"/></p>
         <p><input type = "text" name = "lastName" placeholder ="lastname"/></p>
         <input type = "submit" name = "submit_adduser" value = "Submit"/>
      </form>	

   {% endblock %}
</body>
</html>