<!DOCTYPE html>
<html>
<head>
<body style="background-color: rgb(150, 150, 150)";>
   {% block content %}
   <header>
   <div class="header"  style="background-color: rgb(255, 255, 255)";>
   <h1 style="text-align:center;"> Sign Up </h1>
   <a href="/">Home</a>
   </div>
   </header>
</head>
   <form action = "/signup" method = "post">
         <p><input type = "text" name = "username" placeholder ="username "/></p>
         <p><input type = "text" name = "password" placeholder ="password"/></p>
         <p><input type = "text" name = "firstName" placeholder ="firstname"/></p>
         <p><input type = "text" name = "lastName" placeholder ="lastname"/></p>
         <input type = "submit" name = "submit_adduser" value = "Submit"/>
      </form>	

   {% endblock %}

 
</body>
</html>