<!DOCTYPE html>
<html>
<head>
<header>
<div class="header"  style="background-color: rgb(255, 255, 255)";>
<h1 style = "text-align:center;"> Admin </h1>
<a href="/">Home</a>
<div id="deleteReview">
    <h3>
        Delete Review
    </h3>
    <form id="deleteReviewForm" method="post">
        <label for="reviewNum">Enter Review Number:</label><br>
        <input type="text" id="reviewNum" name="reviewNum"><br>
        {{reviewDelete}}
        <br>
        <input type="submit" name="deleteReview_submit" value="Delete">
    </form>
</div>
<div id="updateReview">
    <h3>
        Update Review
    </h3>
    <form id="updateReviewForm" method="post">
        <label for="reviewNumber">Enter Review Number:</label><br>
        <input type="text" id="reviewNumber" name="reviewNumber"><br><br>
        Old Review: {{reviewUpdateOld}} <br><br>
        New Review: {{reviewUpdateNew}}
        <br><br>
        <label for="updateField">New Comments:</label><br>
        <input type="text" id="updateField" name="updateField"><br><br>
        <input type="submit" name="update_submit" value="Update">
    </form>
</div>
<div id="deleteUser">
    <h3>
        Delete User
    </h3>
    <form id="deleteUserForm" method="post">
        <label for="delUsername">Enter Username:</label><br>
        <input type="text" id="delUsername" name="delUsername">
        <input type="submit" name="deleteUser_submit" value="Delete">
    </form>
    <p> 
        {{deleteInfo}}
    </p>
</div>
</body>
</html>