<!DOCTYPE html>
<html>

<head>
<header>
    <div class="header"  style="background-color: rgb(255, 255, 255)";>
        <h1 style = "text-align: center";>Illini Intersections</h1>
        <div class="header-right">
          <a class="active"  href="/">Home</a>
          <a href="login">{{authStatus}}</a>
          <a href="logout" style={{logoutDisplay}}>Log Out</a>
          <a href="queries"> Queries </a>
          <a href="admin" style={{logoutDisplay}}> Admin </a>
          <a href="about">About</a>
        </div>
      </div>
</header>

<link rel="stylesheet" type="text/css" href="styles.css">
<script src="scripts.js"></script>
</head>

<body style="background-color: rgb(150, 150, 150)"; id="body">

    
    <form action="#" method="post">
            <div id="intersectionSelection">
                <input type="text" name='ew' id="intersection" placeholder="Enter EW Street Here">
                <input type="text" name='ns' id="intersection" placeholder="Enter NS Street Here">
                <input type="submit" value="OK" onclick="showReviews()">
            </div>
    </form>  

    <div id="reviews" style={{display}}>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARw7vsFpe6UKaUMAAkAngIVdmFBjDxIfY&callback=initMap"
        type="text/javascript"></script>
        <script type="text/javascript">
        function initMap() {
            const map0 = new google.maps.Map(document.getElementById('map0'), {
                center:{lat: {{lat}} , lng: {{lng}}},
                zoom: 12
              });
            const marker0 = new google.maps.Marker({
            position: {lat: {{lat}} , lng: {{lng}}},
            map: map0,
            });

            const map1 = new google.maps.Map(document.getElementById('map1'), {
                center:{lat: {{lat1}} , lng: {{lng1}}},
                zoom: 12
              });
            const marker1 = new google.maps.Marker({
            position: {lat: {{lat1}} , lng: {{lng1}}},
            map: map1,
            });
        }
        </script>
        <h2 id="intersectionName">
           {{IntersectionNameEW}} {{IntersectionNameNS}}
        </h2>

        <h3>
            Reviews
        </h3>

        <h4>
            Overall Rating:
        </h4>

        <p id="overallRating">
            {{overallRating}}
        </p>

        <h4>
            Lighting Rating:
        </h4>

        <p id="lightingRating">
            {{lightingRating}}
        </p>

        <h4>
            Quality Rating:
        </h4>

        <p id="qualityRating">
            {{qualityRating}}
        </p>

        <h4>
            Traffic Rating:
        </h4>

        <p id="trafficRating">
            {{trafficRating}}
        </p>

        <h4>
           Visual Appeal:
        </h4>

        <p id="VisualAppeal">
            {{visualAppeal}}
        </p>
        <h4>
            Views
        </h4>
        <img src={{viewURL}} alt="view" id="view">
        <h4>
            Google Map
        </h4>
        <h4>
            Street EW
        </h4>
        <div id="map0" style="width:100%; height:500px;"></div> 
        <h4>
            Street NS
        </h4> 
        <div id="map1" style="width:100%; height:500px;"></div>  
        <h4>    
        Comments
        </h4>
        <p id="Comments">
            {{comments}}
        </p>
        <br>

        <h3>
            Add a Review
        </h3>
        <form id="addReview" method="post">
            <h4>
                Intersection ID:
            </h4>
            <input type="text" name='intersection_review_id' id="intersection_review_id">
            <h4>
                Lighting Rating
            </h4>

            <select name="lighting_review" id="addReviewLighting">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Road Quality Rating
            </h4>
            <select name="quality_review" id="addReviewQuality">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Traffic Rating
            </h4>
            <select name="traffic_review" id="addReviewTraffic">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Visual Appeal Rating
            </h4>
            <select name="va_review" id="addReviewVisualAppeal">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Comments:
            </h4>

            <input type="text" name = 'comments' id="commentsInput">
            <br> <br>
            <input type="submit" name = 'add_review_submit' value="Submit">
        </form>
    </div>
    
</body>

</html>