<!DOCTYPE html>
<html>

<head>
<header>
    <h1>
        Illini Intersections
    </h1>
</header>

<link rel="stylesheet" type="text/css" href="styles.css">
<script src="scripts.js"></script>
</head>

<body id="body">
    <form action="#" method="post">
            <div id="intersectionSelection">
                <input type="text" name='ew' id="intersection" placeholder="Enter EW Street Here">
                <input type="text" name='ns' id="intersection" placeholder="Enter NS Street Here">
                <input type="submit" value="OK" onclick="showReviews()">
            </div>
    </form>  

    <div id="reviews" style="display:''">
        <h2 id="intersectionName">
           {{IntersectionNameEW}} {{IntersectionNameNS}}
        </h2>

        <h3>
            Reviews
        </h3>

        <h4>
            Overall Rating:
        </h4>

        <p id="overallRating">
            {{overallRating}}
        </p>

        <h4>
            Lighting Rating:
        </h4>

        <p id="lightingRating">
            {{lightingRating}}
        </p>

        <h4>
            Quality Rating:
        </h4>

        <p id="qualityRating">
            {{qualityRating}}
        </p>

        <h4>
            Traffic Rating:
        </h4>

        <p id="trafficRating">
            {{trafficRating}}
        </p>

        <h4>
           Visual Appeal:
        </h4>

        <p id="VisualAppeal">
            {{visualAppeal}}
        </p>
        <h4>
            Views
        </h4>
        <img src={{viewURL}} alt="view" id="view">
        <h4>
            Comments
        </h4>
        <p id="Comments">
            {{comments}}
        </p>
        <br>

        <h3>
            Add a Review
        </h3>
        <form id="addReview" method="post">
            <h4>
                Intersection ID:
            </h4>
            <input type="text" name='intersection_review_id' id="intersection_review_id">
            <h4>
                Lighting Rating
            </h4>

            <select name="lighting_review" id="addReviewLighting">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Road Quality Rating
            </h4>
            <select name="quality_review" id="addReviewQuality">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Traffic Rating
            </h4>
            <select name="traffic_review" id="addReviewTraffic">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Visual Appeal Rating
            </h4>
            <select name="va_review" id="addReviewVisualAppeal">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Comments:
            </h4>

            <input type="text" name = 'comments' id="commentsInput">
            <br> <br>
            <input type="submit" name = 'add_review_submit' value="Submit">
        </form>
    </div>
    <div id="deleteReview">
        <h3>
            Delete Review
        </h3>
        <form id="deleteReviewForm">
            <label for="reviewNum">Enter Review Number:</label><br>
            <input type="text" id="reviewNum" name="reviewNum"><br>
            {{reviewDelete}}
            <br>
            <input type="submit" value="Delete">
        </form>
    </div>
    <div id="updateReview">
        <h3>
            Update Review
        </h3>
        <form id="updateReviewForm" method="post">
            <label for="reviewNumber">Enter Review Number:</label><br>
            <input type="text" id="reviewNumber" name="reviewNumber"><br>
            {{reviewUpdate}}
            <br>
            <label for="updateField">New Comments:</label><br>
            <input type="text" id="updateField" name="updateField"><br>
            <input type="submit" name="update_submit" value="Update">
        </form>
    </div>
    <div id="Query1">

            <h3>
                Query 1: Gets all the streets that have good lighting (a lighting rating above 8)
            </h3>
            <form action="#" method="post">
                <div>
                    <input type="submit" name="runQuery1" value="Run Query 1">
                </div>
                
            </form>
            {{resultQuery1}}

    </div>
    <div id="Query2">

            <h3>
                Query 2: Returns the intersectionID, the difference between the objective and subjective rating of an intersection’s road quality (statistics vs reviews), and the overall rating of an intersection for all intersections that have an objective rating of 1 or less
            </h3>
            <form action="#" method="post">
                <input type="submit" name="runQuery2" value="Run Query 2">
            </form>
            {{resultQuery2}}

    </div>
</body>

</html>