<!DOCTYPE html>
<html>

<head>
<header>
    <div class="header">
        <h1>Illini Intersections</h1>
        <div class="header-right">
          <a class="active" href="/">Home</a>
          <a href="login">{{authStatus}}</a>
          <a href="logout" style={{logoutDisplay}}>Log Out</a>
          <a href="queries"> Queries </a>
          <a href="admin" style={{logoutDisplay}}> Admin </a>
          <a href="about.html">About</a>
        </div>
      </div>
</header>

<link rel="stylesheet" type="text/css" href="styles.css">
<script src="scripts.js"></script>
</head>

<body id="body">
    
    <form action="#" method="post">
            <div id="intersectionSelection">
                <input type="text" name='ew' id="intersection" placeholder="Enter EW Street Here">
                <input type="text" name='ns' id="intersection" placeholder="Enter NS Street Here">
                <input type="submit" value="OK" onclick="showReviews()">
            </div>
    </form>  

    <div id="reviews" style={{display}}>
        <h2 id="intersectionName">
           {{IntersectionNameEW}} {{IntersectionNameNS}}
        </h2>

        <h3>
            Reviews
        </h3>

        <h4>
            Overall Rating:
        </h4>

        <p id="overallRating">
            {{overallRating}}
        </p>

        <h4>
            Lighting Rating:
        </h4>

        <p id="lightingRating">
            {{lightingRating}}
        </p>

        <h4>
            Quality Rating:
        </h4>

        <p id="qualityRating">
            {{qualityRating}}
        </p>

        <h4>
            Traffic Rating:
        </h4>

        <p id="trafficRating">
            {{trafficRating}}
        </p>

        <h4>
           Visual Appeal:
        </h4>

        <p id="VisualAppeal">
            {{visualAppeal}}
        </p>
        <h4>
            Views
        </h4>
        <img src={{viewURL}} alt="view" id="view">
        <h4>
            Comments
        </h4>
        <p id="Comments">
            {{comments}}
        </p>
        <br>

        <h3>
            Add a Review
        </h3>
        <form id="addReview" method="post">
            <h4>
                Intersection ID:
            </h4>
            <input type="text" name='intersection_review_id' id="intersection_review_id">
            <h4>
                Lighting Rating
            </h4>

            <select name="lighting_review" id="addReviewLighting">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Road Quality Rating
            </h4>
            <select name="quality_review" id="addReviewQuality">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Traffic Rating
            </h4>
            <select name="traffic_review" id="addReviewTraffic">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Visual Appeal Rating
            </h4>
            <select name="va_review" id="addReviewVisualAppeal">
                <option value=""></option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
            <h4>
                Comments:
            </h4>

            <input type="text" name = 'comments' id="commentsInput">
            <br> <br>
            <input type="submit" name = 'add_review_submit' value="Submit">
        </form>
    </div>
    
</body>

</html>