<!DOCTYPE html>
<html>
<head>
<body style="background-color: rgb(150, 150, 150);">
   {% block content %}
   <header>
   <div class="header"  style="background-color: rgb(255, 255, 255)";>
   <h1 style="text-align:center;"> Login </h1>
   <a href="/">Home</a>
   </div>
   </header>
   </head>

   <form action = "/login" method = "post">
         <p><input type = "text" name = "username" placeholder ="username "/></p>
         <p><input type = "text" name = "password" placeholder ="password"/></p>
         <input type = "submit" name = "submit_sign" value = "Submit"/>
   </form>	
   <br>
   <form action = "/signup" method = "post">
      
      <input type = "submit" name = "gotosignup" value = "Sign Up"/>
   </form>
   {% endblock %}
</body>
</html>